<table>
    <tr>
        <td>
            id
        </td>
        <td>
            Asunto
        </td>
        <td>
            Fecha de Apertura
        </td>
        <td>
            Fecha de Finalizacion
        </td>
    </tr>
    {{#each requerimientos}}
    <tr>
        <td>
            {{idRequerimiento}}
        </td>
        <td>
            {{asunto}}
        </td>
        <td>
            {{fechaCreacion}}
        </td>
        <td>
            {{fechaFinalizacion}}
        </td>
    </tr>
    {{/each}}
</table>
{{!-- <div class="container p-4">
    <div class="row">

        {{#each cuentas}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="cuentas/perfilCuenta/{{id}}" id="perfilCuenta">
                        <h3 class="card-title text-uppercase">
                            {{nombre}}
                        </h3>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div> --}}

{{!-- <table>
    <?php foreach($registros as $tarea): ?>

    <tr>
        <td class="fila1">
            <?php echo $tarea->horaFechainicio ?>
        </td>
        <td class="fila2">
            <?php echo $tarea->descripciontarea ?>
        </td>
        <td class="fila3">
            <a href="FinalizarTarea.php?IdTarea=<?php echo $tarea->idtarea?> & 
            IdHoraFin=<?php echo $date->format('Y-m-d H:i:s') ?>">
                <input type="button" value="Finalizar" class="btnfinalizar">
            </a>
        </td>
    </tr>

    <?php endforeach; ?>

</table> --}}