<div class="container">
    <div class="row">
        <div class="col">

            <div class="m-2 text-center"> {{!-- titulo Requerimientos --}}
                <h4>Requerimientos</h4>
            </div>

            <div class="m-2 text-center"> {{!-- Proyecto --}}
                <p>id del proyecto: <strong>{{proyecto.idProyecto}}</strong></p>
                <p>nombre del proyecto: <strong>{{proyecto.nombreProyecto}}</strong></p>
            </div>

            <div> {{!-- Botones --}}
                <a href="/requerimientos/crear/{{idProyecto}}" class="btn btn-outline-info" >
                    Nuevo Requerimiento
                </a>
            </div>

            <div class="p-2"> {{!-- Tabla Requerimientos--}}
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Asunto</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each requerimientos}}
                        <tr>
                            <td><a href="/requerimientos/requerimiento/{{idRequerimiento}}">{{idRequerimiento}}</a></td>
                            <td><a href="/requerimientos/requerimiento/{{idRequerimiento}}">{{asunto}}</a></td>
                            <td>{{estado}}</td>
                            <td><a href="/intervenciones/intervencionesXRequerimiento/{{idRequerimiento}}">Intervenciones</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>